{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    {% if app.request.attributes.get('id') is null %}
        <h3>Add your wish!</h3>
    {% else %}
        <h3>Modify your wish!</h3>
    {% endif %}

    {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.author) }}
        {{ form_row(form.description) }}
        {{ form_row(form.category) }}
        {{ form_row(form.image) }}

        {% if form.vars.value.pathImage != '' %}
            <div class="w-25">
                <img src="{{ asset(form.vars.value.pathImage) }}" alt="Image : {{ form.title.vars.value }}" class="card-img py-2">
                {{ form_row(form.doDelete) }}
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary btn-lg px-4">{{ app.request.attributes.get('id') is null ? 'Add' : 'Update' }}</button>
    {{ form_end(form) }}

{% endblock %}

